<div id="p-editar-perfil" style="padding-left: 300px; padding-right: 300px; padding-top: 100px; padding-bottom: 100px;">
  <p-panel id="panel" [style]="{margin:'5px'}" styleClass="ui-card-shadow">
    <p-header style="font-size: 20px">Editar perfil:</p-header>
    <div style="display: inline-block;">
      <form style="margin: 20px" [formGroup]="perfilForm">

        <div >
          <label>Nome:</label>
          <br>
          <input size="50%" formControlName="inputNome" pInputText [(ngModel)]="usuario.nome" />
          <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!perfilForm.controls['inputNome'].valid && perfilForm.controls['inputNome'].dirty">
              <i class="fa fa-close"></i>
              Nome obrigatório
          </div>
          <br>
        </div>
        <div>
          <br>
          <label>Nome de acesso:</label>
          <br>
          <input size="50%" formControlName="inputNomeAcesso" pInputText [(ngModel)]="acesso.nomeacesso" />
          <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!perfilForm.controls['inputNomeAcesso'].valid && perfilForm.controls['inputNomeAcesso'].dirty">
              <i class="fa fa-close"></i>
              Nome de acesso obrigatório
          </div>
          <br>
        </div>
        <div>
          <br>
          <label>E-mail:</label>
          <br>
          <input size="50" formControlName="inputEmail" pInputText [(ngModel)]="usuario.email" />
          <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!perfilForm.controls['inputEmail'].valid && perfilForm.controls['inputEmail'].dirty">
              <i class="fa fa-close"></i>
              E-mail obrigatório
          </div>
          <br>
        </div>
        <div>
          <br>
          <label>Senha:</label>
          <br>
          <input size="50" type='password' formControlName="inputSenha" pInputText [(ngModel)]="senha" />
          <br>
        </div>
      </form>
      <div id="bt">
      <button pButton type="button" icon="fa fa-fw fa-reply" label="Voltar" class="ui-button-secondary" (click)="voltar()"></button>
      <button pButton type="button" icon="fa fa-fw fa-ban" label="Cancelar" class="ui-button-danger" (click)="buscaPerfil()"></button>
      <button pButton type="button" icon="fa fa-fw fa-chevron-down" label="Salvar" class="ui-button-success" (click)="clickEditar()"></button>
    </div>
    </div>
  </p-panel>
</div>