.ui-toolbar-group-right{
    margin-right:50px; 
    margin-top:12px
 }
 .ui-toolbar-group-left{
    margin-left:50px; 
    margin-top:12px;
 }
 .perfil{
    font-weight: bold;
    font-size: 18px;
 }
 .links{
    font-size: 120%;
    text-decoration: none;
    margin-left: 10px;
    cursor:  pointer;
    font-weight: bold;
    color: white !important;
 }

 .toolbar{
    background: rgb(26, 124, 204) !important;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%  !important;
    border-radius: 0 !important;
    height: 3rem !important;
    align-content: center;
 }

 .menu {
    background: rgb(26, 124, 204) !important;
    border-color: rgb(26, 124, 204) !important;
    width: 40px;
    margin-bottom: 3px;
 }
 
 .router{
    align-content: center;
    margin-top: 3rem;
    padding: 1px 16px 16px 16px;
    background-color: #f3f3f3;
 }

 .panel {
     height: 290px !important;
 }

 #bt {
    background: rgb(26, 124, 204) !important;
    border: rgb(26, 124, 204) !important;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
 }

 .menuLateral {
     position: fixed;
     height: 100%;
     width: 15%;
     box-sizing: border-box;
     transition: all .3s;
 }

.img {
    top: 0;
    margin-bottom: 8px;
    margin-right: 12px;
    width: 70px;
    height: 30px;
    cursor:  pointer;
}
