<p-panel id="panel" [style]="{margin:'5px'}" styleClass="ui-card-shadow">
    <p-header style="font-size: 20px">Feedback</p-header>
    <div class="div">
        <br>
        <span class="span">Descrição: </span>
        <a class="a"> {{feedback.descricao}} </a>
        <br>
        <br>
        <span class="span">Usuario:</span>
        <a class="a"> {{usuario.nome}} </a>
        <br>
        <br>
        <span class="span">Data e hora: </span>
        <a class="a"> {{feedback.data_hora}} </a>
        <br>
        <br>
        <span class="span">Tipo: </span>
        <a class="a"> {{feedback.tipo}} </a>
        <br>
        <br>
        <span class="span">Status: </span>
        <a class="a"> {{feedback.status}} </a>
      </div>
      <br>
      <div>
        <div id="bt">
          <button pButton type="button" icon="fa fa-fw fa-reply" label="Voltar" class="ui-button-secondary" (click)="voltar()"></button>
          
      </div>
    </div>
  </p-panel>
