<app-titulo title="Para continuar informe seu acesso abaixo"></app-titulo>

<div class="container form-login">
  <div class="row justify-content-md-center">
    <div class="col-md-5 text-center">

      <app-card>
        <figure>
          <img src="assets/severino-icon-64.png" />
        </figure>

        <form (ngSubmit)="login()" [formGroup]="login">

          <div class="form-group">

            <input class="form-control"
                    name="nomeacesso"
                    type="text"
                    placeholder="Nome de Acesso"
                    [(ngModel)]="usuario.nomeacesso" />

            <input  class="form-control"
                    placeholder="Senha"
                    name="senha"
                    type="password"
                    [(ngModel)]="usuario.senha">
          </div>

          <button id="btEntrar" type="submit"
                  class="btn btn-primary">Entrar</button>
        </form>
      </app-card>

    </div>
  </div>
</div>
