<div id="corpoPonto" class="row justify-content-md-center">

  <div id="card" class="card">
        
    <div class="card-body">
          
      <div>
  
        <img id="severino-icon" src="../../../assets/severino-icon-64.png" alt="Severino">
  
      </div>
          
      <div>
  
        Logado como: <strong>{{usuario.nome}}</strong>
  
      </div>
  
      <br>

      <div id="uploadInput">
        <p-fileUpload name="myfile[]" (uploadHandler)="onUpload($event)" [customUpload]="true" accept=".xls" chooseLabel=" "  uploadLabel="Fazer Upload" cancelLabel="Cancelar"></p-fileUpload>
      </div>

      <br>

      <div class="row">

        <div id="table">

          <p-table id="tabela" class="table" [value]="importacoes">

            <ng-template pTemplate="header">

              <tr> 

                <th>Nome</th>

                <th>Tamanho</th>

                <th>Início</th>

                <th>Final</th>

                <th>Data/Hora</th>

                <th>Usu.</th>

                <th>Déb.</th>

                <th>Cré.</th>

                <th>Inc.</th>

                <th>Cor.</th>

                <th>Tempo Imp.</th>

                <th>Sit.</th>

              </tr>

            </ng-template>

            <ng-template pTemplate="body" let-importacao>

              <tr>

                <td>{{importacao.nome}}{{importacao.extensao}}</td>

                <td>{{importacao.tamanho}}</td>

                <td>{{importacao.inicio_periodo | date:"dd/MM/yyyy"}}</td>

                <td>{{importacao.final_periodo | date:"dd/MM/yyyy"}}</td>

                <td>{{importacao.data_hora_importacao | date:'dd/MM/yyyy HH:mm:ss'}}</td>

                <td>{{importacao.quantidade_usuario}}</td>

                <td>{{importacao.usuario_com_debito_banco}}</td>

                <td>{{importacao.usuario_com_credito_banco}}</td>

                <td>{{importacao.usuario_com_marcacao_incorreta}}</td>

                <td>{{importacao.usuario_sem_pendencias}}</td>

                <td>{{importacao.tempo_importacao}}</td>

                <td>{{importacao.status}}</td>

              </tr>

            </ng-template>

          </p-table>

        </div>

      </div>

    </div>
  
  </div>
    
</div>