#table {
    margin: 10px;
    text-align: center;
  }
  
  #menu-lateral {
    text-align: center;
  }
  
  #card {
    text-align: center;
  }
  
  #float-input{
    text-align: center;
    margin-top: 10px 10px 10px 10px;
  }
  
  #corpoPonto{
    padding-top: 100px;
  }
  
  #btnCarregar{
    margin: 0px 0px 0px 5px;
  }
  
  #uploadInput{
    margin-top: 10px;
  }
  
  #severino-icon{
    margin-bottom: 20px;
  }