
<app-header></app-header>

<app-titulo title="Para continuar informe seu Nome de Acesso"></app-titulo>

<div class="container form-login">
  <div class="row justify-content-md-center">
    <div class="col-md-5 text-center">

      <app-card>
        <figure>
          <img src="assets/icon-user.png" />
        </figure>

        <form (ngSubmit)="login()">

          <div class="form-group">

            <input class="form-control"
                    name="nomeacesso"
                    type="text"
                    placeholder="Nome de Acesso"
                    [(ngModel)]="usuario.nomeacesso" />

            <input  class="form-control"
                    placeholder="Senha"
                    name="senha"
                    type="password"
                    [(ngModel)]="usuario.senha">
          </div>

          <button type="submit"
                  class="btn btn-primary">Entrar</button>

          <a routerLink="/cadastro">Ainda não tenho uma conta</a>
        </form>
      </app-card>

    </div>
  </div>
</div>
