#table {
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
  }
  
  #menu-lateral {
    text-align: center;
  }
  
  #card {
    text-align: center;
  }
  
  #corpoPonto{
    padding-top: 100px;
  } 