<p-fileUpload name="myfile[]" (uploadHandler)="onBasicUpload($event)" [customUpload]="true" accept="image/*,.xls" chooseLabel="Escolher"
     auto="auto" invalidFileTypeMessageSummary="Arquivo inválido: {0}" invalidFileTypeMessageDetail='Tipos de arquivos permitidos: {0}.'></p-fileUpload>
     
<div class="row">
  <div id="table">
    <p-table id="tabela" class="table" [value]="pontos">
      <ng-template pTemplate="header">
          <tr>              <th>Id</th>
              <th>Data</th>
              <th>Entrada</th>
              <th>Sáida</th>
              <th>Entrada</th>
              <th>Saida</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-ponto>
            <tr>
                <td>{{ponto.id}}</td>
                <td>{{ponto.data}}</td>
                <td>{{ponto.entrada1}}</td>
                <td>{{ponto.entrada2}}</td>
                <td>{{ponto.entrada3}}</td>
                <td>{{ponto.entrada4}}</td>
            </tr>
      </ng-template>
    </p-table>
  </div>
</div>
