#table {
  padding-left: 100px;
  padding-right: 100px;
}

#menu-lateral {
  text-align: center;
}

#card {
  text-align: center;
}

#float-input{
  text-align: center;
  margin-top: 10px 10px 10px 10px;
}

#corpoPonto{
  padding-top: 100px;
}

#btnPesquisar{
  margin: 0px 0px 0px 5px;
}

#uploadInput{
  margin-top: 10px;
}

#inputInfo {
  text-align: center;
}

#severino-icon{
  margin-bottom: 20px;
}

#ano {
  margin-bottom: 10px;
  text-align: center;
  width: 100px;
  display: inline-block;
}

#mes {
  margin-bottom: 10px;
  text-align: center;
  width: 70px;
  display: inline-block;
}

.linha-correta {
  background-color: rgb(72, 157, 206) !important;
  color: #ffffff !important;
}

.linha-debito {
  background-color: rgb(153, 59, 59) !important;
  color: #ffffff !important;
}

.linha-credito {
  background-color: rgb(64, 131, 66) !important;
  color: #ffffff !important;
}

.linha-justificado {
  background-color: rgb(55, 103, 190) !important;
  color: #ffffff !important;
}

.linha-falta-justificada {
  background-color: rgb(192, 192, 112) !important;
  color: #ffffff !important;
}

.linha-marcacao-incorreta {
  background-color: rgb(197, 108, 56) !important;
  color: #ffffff !important;
}

.linha-sem-informacoes {
  background-color: #ffffff !important;
  color: black !important;
}

.linha-ferias {
  background-color: rgb(39, 163, 194) !important;
  color: #ffffff !important;
}

.linha-atestado-medico {
  background-color: rgb(135, 140, 141) !important;
  color: #ffffff !important;
}

.linha-ponto-facultativo {
  background-color: rgb(206, 105, 66) !important;
  color: #ffffff !important;
}

.linha-nao-admitido {
  background-color: rgb(123, 130, 138) !important;
  color: #ffffff !important;
}

.linha-feriado {
  background-color: rgb(23, 190, 168) !important;
  color: #ffffff !important;
}

.ui-panel {
  text-align: right !important;
}