<div id="corpoPonto" class="row justify-content-md-center">



  <div id="card" class="card">
  
  
  
    <div class="card-body">
  
  
  
      <div>
  
        <img id="severino-icon" src="../../../assets/severino-icon-64.png" alt="Severino">
  
      </div>
  
  
  
      <div>
  
        Logado como: <strong>{{usuario.nome}}</strong>
  
      </div>
  
      <br>
  
        
  
      <div id="mesanoInput">
          <form (ngSubmit)="listarPontoPorPeriodo()">  
              <span class="ui-float-label">
  
                  <input name="mesInput" id="float-input" type="text" size="5" pInputText placeholder="Mês"> 
  
              </span>
  
              <span class="ui-float-label">
  
                  <input name="anoInput" ng-model="mes" id="float-input" type="text" size="10" pInputText placeholder="Ano"> 
  
              </span>
  
              <button id="btnCarregar" type="submit">Carregar Informações do Ponto</button>
          </form>
        </div>
        
        <br><br>
  
        <div class="row">
  
          <div id="table">
  
            <p-table id="tabela" class="table" [value]="pontos">
  
              <ng-template pTemplate="header">
  
                <tr> 

                  <th>Data</th>

                  <th>Dia Semana</th>

                  <th>L</th>

                  <th>Jornada</th>

                  <th>Ent</th>

                  <th>Sai.</th>

                  <th>Ent.</th>

                  <th>Sai.</th>

                  <th>Ent.</th>

                  <th>Sai.</th>

                  <th>Ent.</th>

                  <th>Sai.</th>

                  <th>Status</th>

                  <th>Observação</th>

                </tr>
  
              </ng-template>
  
              <ng-template pTemplate="body" let-ponto>
  
                <tr>

                  <td>{{ponto.data}}</td>

                  <td>{{ponto.diasemana}}</td>

                  <td>{{ponto.legenda}}</td>

                  <td>{{ponto.jornada}}</td>

                  <td>{{ponto.entrada1}}</td>

                  <td>{{ponto.saida1}}</td>

                  <td>{{ponto.entrada2}}</td>

                  <td>{{ponto.saida2}}</td>

                  <td>{{ponto.entrada3}}</td>

                  <td>{{ponto.saida3}}</td>

                  <td>{{ponto.entrada4}}</td>

                  <td>{{ponto.saida4}}</td>

                  <td>{{ponto.status}}</td>

                  <td>{{ponto.observacao}}</td>

                </tr>
  
              </ng-template>
  
            </p-table>
  
          </div>
  
        </div>
  
      </div>
  
    </div>
  
  </div>