<div class="row justify-content-md-center">      
  <div class="table">
    <p-table #dt [columns]="cols" [value]="prioridadesJira" [paginator]="true" [rows]="28">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">
            {{col.header}}
          </th>
        </tr>        
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td *ngFor="let col of columns" class="ui-resizable-column">
            {{rowData[col.field]}}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  